<template>
  <div
    class="h-full w-full flex flex-row content-center justify-center items-center"
  >
    <a
      href="https://www.linkedin.com/in/bastiaan-van-denabeele-389507b3/"
      class="p-4 border-black border-2 rounded-full hover:shadow-red-300 hover:shadow-lg hover:scale-150"
    >
      <p class="px-4 first-letter:text-red-600 text-4xl">Get in contact</p>
    </a>
  </div>
</template>
