<script setup>
const props = defineProps({
  color: { type: String, default: "black" },
});
</script>
<template>
  <svg
    class="block m-auto"
    width="48"
    height="48"
    id="svg2"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
  >
    <metadata id="metadata7">
      <rdf:RDF>
        <cc:Work rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g id="layer1" style="display: inline" transform="translate(0,-1004.3622)">
      <ellipse
        style="
          opacity: 1;
          fill: none;
          fill-opacity: 1;
          fill-rule: nonzero;
          stroke-width: 2.79588675;
          stroke-miterlimit: 4;
          stroke-dasharray: none;
          stroke-opacity: 1;
        "
        :style="{ stroke: color }"
        id="path3013"
        cx="24"
        cy="1028.3622"
        rx="21.666269"
        ry="21.562868"
      />
      <g
        aria-label="V"
        transform="matrix(0.49275299,0,0,0.49275299,-120.09945,894.40268)"
        style="
          font-style: normal;
          font-weight: normal;
          line-height: 0.01%;
          font-family: sans-serif;
          letter-spacing: 0px;
          word-spacing: 0px;
          fill-opacity: 1;
          stroke: none;
        "
        :style="{ fill: color }"
        id="letter-V"
      >
        <path
          d="m 289.32031,292.27148 -15.58594,-40.82421 h 5.76954 l 12.93359,34.37109 12.96094,-34.37109 h 5.74218 l -15.55859,40.82421 z"
          style="font-size: 56px; line-height: 1.25; font-family: sans-serif"
          id="path4637"
        />
      </g>
      <g
        aria-label="b"
        transform="matrix(0.54243394,0,0,0.53558091,-104.62564,892.69704)"
        style="
          font-style: normal;
          font-weight: normal;
          line-height: 0.01%;
          font-family: sans-serif;
          letter-spacing: 0px;
          word-spacing: 0px;
          fill-opacity: 1;
          stroke: none;
        "
        :style="{ fill: color }"
        id="letter-b"
      >
        <path
          d="m 222.05859,257.29883 q 0,-3.96485 -1.64062,-6.21094 -1.6211,-2.26562 -4.47266,-2.26562 -2.85156,0 -4.49219,2.26562 -1.62109,2.24609 -1.62109,6.21094 0,3.96484 1.62109,6.23047 1.64063,2.24609 4.49219,2.24609 2.85156,0 4.47266,-2.24609 1.64062,-2.26563 1.64062,-6.23047 z m -12.22656,-7.63672 q 1.13281,-1.95313 2.85156,-2.89063 1.73828,-0.95703 4.14063,-0.95703 3.98437,0 6.46484,3.16407 2.5,3.16406 2.5,8.32031 0,5.15625 -2.5,8.32031 -2.48047,3.16406 -6.46484,3.16406 -2.40235,0 -4.14063,-0.9375 -1.71875,-0.95703 -2.85156,-2.91015 v 3.28125 h -3.61328 v -30.39063 h 3.61328 z"
          style="font-size: 40px; line-height: 1.25; font-family: sans-serif"
          id="path4640"
        />
      </g>
      <g
        aria-label="b"
        transform="matrix(-0.54243394,0,0,0.53558091,152.62564,892.69704)"
        style="
          font-style: normal;
          font-weight: normal;
          line-height: 0.01%;
          font-family: sans-serif;
          letter-spacing: 0px;
          word-spacing: 0px;
          display: inline;
          fill-opacity: 1;
          stroke: none;
        "
        :style="{ fill: color }"
        id="letter-d"
      >
        <path
          d="m 222.05859,257.29883 q 0,-3.96485 -1.64062,-6.21094 -1.6211,-2.26562 -4.47266,-2.26562 -2.85156,0 -4.49219,2.26562 -1.62109,2.24609 -1.62109,6.21094 0,3.96484 1.62109,6.23047 1.64063,2.24609 4.49219,2.24609 2.85156,0 4.47266,-2.24609 1.64062,-2.26563 1.64062,-6.23047 z m -12.22656,-7.63672 q 1.13281,-1.95313 2.85156,-2.89063 1.73828,-0.95703 4.14063,-0.95703 3.98437,0 6.46484,3.16407 2.5,3.16406 2.5,8.32031 0,5.15625 -2.5,8.32031 -2.48047,3.16406 -6.46484,3.16406 -2.40235,0 -4.14063,-0.9375 -1.71875,-0.95703 -2.85156,-2.91015 v 3.28125 h -3.61328 v -30.39063 h 3.61328 z"
          style="font-size: 40px; line-height: 1.25; font-family: sans-serif"
          id="path4634"
        />
      </g>
    </g>
  </svg>
</template>
