<script setup>
const props = defineProps({
  to: String,
});
</script>
<template>
  <NuxtLink
    :to="to"
    class="mx-2 my-1 p-2 rounded-md flex items-center content-center hover:shadow-slate-500 hover:shadow-sm drop-shadow-sm"
  >
    <slot> </slot>
  </NuxtLink>
</template>
