<script setup>
import Logo from "./Logo.vue";
import NavBarLink from "./NavBarLink.vue";
</script>
<template>
  <nav class="bg-gray-300 shadow-black shadow-sm drop-shadow-sm">
    <div
      class="h-18 p-1 flex flex-row items-stretch content-center justify-between"
    >
      <NavBarLink to="/" class="flex flex-row items-strech content-center">
        <div class="flex flex-row items-stretch content-center">
          <Logo />
          <div class="pl-3 flex items-center content-center">
            <p class="text-3xl text-slate-700 font-serif">
              Bastiaan Van denabeele
            </p>
          </div>
        </div>
      </NavBarLink>

      <div class="flex flex-row items-strech content-center">
        <slot name="tabs">tabs</slot>
      </div>
    </div>
  </nav>
</template>
