<script setup>
const props = defineProps({
  name: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <div class="m-4 px-4 border-red-500 border-2 rounded-full w-12 min-w-min h-8">
    <div class="h-full w-full flex content-center justify-center items-center">
      <p>
        {{ name }}
      </p>
    </div>
  </div>
</template>
