<template>
  <div class="h-full flex flex-col content-center justify-center items-center">
    <div
      class="sm:h-8/10 md:h-1/2 min-h-min sm:w-full sm:px-2 md:px-0 md:w-2/3 lg:w-1/2 xl:w-1/2"
    >
      <p
        class="pb-4 first-letter:text-red-600 xsm:first-letter:text-4xl md:first-letter:text-6xl xsm:text-2xl md:text-4xl"
      >
        Skills
      </p>
      <div class="mx-6 flex flex-row flex-wrap">
        <slot />
      </div>
    </div>
  </div>
</template>
