<script setup>
const props = defineProps({
  name: { type: String, required: true },
  titleBeforeName: { type: String, required: true },
  titleAfterName: { type: String },
  subTitle: { type: String, required: true },
});
</script>

<template>
  <div class="h-full flex flex-col content-center justify-center items-center">
    <div class="pb-36 sm:w-full sm:px-2 md:px-0 md:w-auto lg:w-auto xl:w-auto">
      <p
        class="pl-4 first-letter:text-red-600 xsm:first-letter:text-4xl md:first-letter:text-6xl xsm:text-2xl md:text-4xl"
      >
        {{ titleBeforeName }}
      </p>
      <p>
        <span class="font-poppins font-extrabold xsm:text-4xl md:text-6xl">
          {{ name }} </span
        >{{ titleAfterName }}
      </p>
      <p class="pl-4 xsm:text-2xl md:text-4xl">{{ subTitle }}</p>
    </div>
  </div>
</template>
