<script setup>
const props = defineProps({
  blok: {
    type: Object,
    required: true,
  },
});
const storyapi = useStoryApi();
const richtext = props.blok.rich_text
  ? storyapi.richTextResolver.render(props.blok.rich_text)
  : "";
</script>

<template>
  <div v-html="richtext"></div>
</template>

<style scoped></style>
