<script lang="ts" setup>
const props = defineProps({
  blok: {
    type: Object,
    required: true,
  },
});
</script>

<template>
  <div class="snap-y snap-mandatory w-screen h-screen overflow-auto">
    <component
      :is="blok.component"
      v-for="blok in blok.childeren"
      :key="blok._id"
      :blok="blok"
      class="snap-start"
    >
    </component>
  </div>
</template>
