<script lang="ts" setup>
const props = defineProps({
  blok: {
    type: Object,
    required: true,
  },
});
</script>

<template>
  <section class="h-screen" v-editable="blok" :id="blok.section_id">
    <component
      :is="blok.component"
      v-for="blok in blok.childeren"
      :key="blok._id"
      :blok="blok"
    >
    </component>
  </section>
</template>
