<script lang="ts" setup>
const props = defineProps({
  blok: {
    type: Object,
    required: true,
  },
});
</script>

<template>
  <div class="h-full w-full" v-editable="blok">
    <SkillList>
      <component
        :is="blok.component"
        v-for="blok in blok.skills"
        :key="blok._id"
        :blok="blok"
      >
      </component>
    </SkillList>
  </div>
</template>
