<script setup>
const props = defineProps({
  blok: {
    type: Object,
    required: true,
  },
});
</script>
<template>
  <div class="h-full flex content-center justify-center items-center">
    <div class="w-auto">
      <p class="text-4xl text-bold">{{ blok.message }}</p>
    </div>
  </div>
</template>
