<script setup>
const props = defineProps({
  blok: {
    type: Object,
    required: true,
  },
});
</script>

<template>
  <WhoAmI
    :name="blok.name"
    :titleBeforeName="blok.title_before_name"
    :titleAfterName="blok.title_after_name"
    :subTitle="blok.sub_title"
  ></WhoAmI>
</template>
