<template>
  <div>
    <header class="fixed w-full top-0 z-50">
      <NavBar>
        <template v-slot:tabs>
          <NavBarLink to="/projects">Projects </NavBarLink>
          <NavBarLink to="/experience">Experience</NavBarLink>
          <NavBarLink to="https://cv.bvdcreations.com/">
            Curriculum Vitae
          </NavBarLink>
        </template>
      </NavBar>
    </header>
    <main class="relative">
      <slot />
    </main>
    <footer class="fixed w-full bottom-0 z-50"><FooterBar /></footer>
  </div>
</template>
