<template>
  <div class="h-screen">
    <div class="h-full flex content-center justify-center items-center">
      <p class="text-xl">This page "experience" in under construction</p>
    </div>
  </div>
</template>
