<script lang="ts" setup>
definePageMeta({
  layout: "default",
});

const runtimeConfig = useRuntimeConfig();
const storyapi = useStoryApi();
const { data } = await storyapi.get("cdn/stories/home", {
  version: runtimeConfig.public.storyBlokVersion,
});
const state = reactive({ story: data.story });

onMounted(() => {
  useStoryBridge(state.story.id, (story) => (state.story = story));
});
</script>

<template>
  <div>
    <Loading v-if="!state.story" />
    <component
      v-if="state.story"
      :is="state.story.content.component"
      :blok="state.story.content"
      >no import</component
    >
  </div>
</template>
